
body {
  font-family: Helvetica, Arial;
}

#graph {
  height: 300px;
}

.axis path, .axis line {
  stroke: #000;
  stroke-width: 1px;
  fill: none;
}

#apr {
  width: 50px;
}
#transferAmount {
  width: 100px;
}

.investmentRow {
  background-color: #dfd;
}
.loanRow {
  background-color: #fdd;
}
