<html ng-app="maxout">

<head>
  <title>maxout</title>

  <link rel="stylesheet" href="css/styles.css">

  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/moment/moment.js"></script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/angular-percentage-filter/percentage.js"></script>


  <script src="app/app.js"></script>
  <script src="app/controllers/MainController.js"></script>
  <script src="app/directives/labeledSlider.js"></script>
  <script src="app/services/PortfolioService.js"></script>
  <script src="app/directives/ProjectionGraph.js"></script>
  <script src="app/BalanceCalculator.js"></script>
</head>

<body>

<div ng-controller="MainController">

  <projection-graph ng-model="accounts"> </projection-graph>

  <table>

    <tr>
      <th>Title</th>
      <th>Balance</th>
      <th>APR</th>
      <th>Compounds</th>
      <th>Payment</th>
      <th>Delete</th>
    </tr>

    <tr ng-repeat="(index, account) in accounts track by $index" class="{{account.accountType + 'Row'}}">
      <td>{{account.title}}</td>
      <td>{{account.balance}}</td>
      <td>{{account.apr | percentage}}</td>
      <td>{{account.compoundPeriod}} days</td>
      <td>
        <labeled-slider label="" min ="0" step ="1" ng-model="account.transferAmount"></labeled-slider>
      </td>
      <td class="delete-cell"><a ng-click="removeAccount(index)">X</a></td>
    </tr>

  </table>

  <form ng-submit="addAccount()">

    <label for="accountType">Type</label>
    <select id="accountType" ng-model="accountType">
      <option value="investment">investment</option>
      <option value="loan">loan</option>
    </select>

    <label for="title">Title</label>
    <input id="title" ng-model="titleText" placeholder="title"/>
    <label for="balance">Balance</label>
    <input id="balance" ng-model="balanceText" placeholder="current balance"/>
    <label for="apr">APR</label>
    <input id="apr" ng-model="aprText" placeholder="percent"/>
    <label for="apr">%</label>

    <label for="compoundPeriod">Compounds</label>
    <select id="compoundPeriod" ng-model="compoundPeriod" disabled>
      <option value="1">daily</option>
      <option value="7">weekly</option>
      <option value="30">monthly</option>
    </select>


    <label for="transferAmount">Payment</label>
    <input id="transferAmount" ng-model="transferAmount" placeholder="amount"/>
    <label for="transferPeriod">Payment Period</label>
    <select id="transferPeriod" ng-model="transferPeriod" disabled>
      <option value="1">daily</option>
      <option value="7">weekly</option>
      <option value="30">monthly</option>
    </select>

    <input type="submit" value="Add Account"/>

  </form>

</div>

</body>

</html>
